﻿@model DotnetApp.Models.Student

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="student_name" class="control-label"></label>
                <input asp-for="student_name" class="form-control" />
                <span asp-validation-for="student_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="student_address" class="control-label"></label>
                <input asp-for="student_address" class="form-control" />
                <span asp-validation-for="student_address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="student_contact" class="control-label"></label>
                <input asp-for="student_contact" class="form-control" />
                <span asp-validation-for="student_contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="grade_id" class="control-label"></label>
                @Html.DropDownList("grade_id", ViewBag.grades as SelectList, new { @class = "form-control" })
                <span asp-validation-for="grade_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
