﻿@model DotnetApp.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.student_id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.student_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.student_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.student_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.student_address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.student_address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.student_contact)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.student_contact)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.grade_id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.grade_id)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
