﻿@model IEnumerable<DotnetApp.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.student_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.student_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.student_address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.student_contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade.grade_id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.student_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.student_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.student_address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.student_contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade.grade_id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.student_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.student_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.student_id })
            </td>
        </tr>
}
    </tbody>
</table>
