﻿@model DotnetApp.Models.Grade

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Grade</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.grade_id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.grade_id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.grade_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.grade_name)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.grade_id }) |
    <a asp-action="Index">Back to List</a>
</div>
