﻿@model IEnumerable<DotnetApp.Models.Grade>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.grade_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.grade_name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.grade_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.grade_name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.grade_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.grade_id }) |
                <a href="@Url.Action("Delete", new {  id=item.grade_id })" onclick="return confirm('Are you sure want to DELETE ?');">Delete</a>

            </td>
        </tr>
}
    </tbody>
</table>
